<h1> Edit this Project </h1>

<div contenteditable="true" hello ng-model="test" ng-init="submit_form2()" id="writeHere" style="width:500px; height:300px;"></div>

	<button type='button' ng-click="boldText()">Bold</button>
	<button type='button' ng-click="italicizeText()">Italicize</button>

<button ng-click="submit_form()">Test</button>

<p>{{test}}</p>

<%= link_to 'List', projects_path %>