<span href="#menu-toggle" class="glyphicon glyphicon-chevron-left togglebutton" id="menu-toggle"></span>
<div class="bluefont" ng-class="{peachfont: changeS == 1}" hello contenteditable="true" id="writehere" ng-model="test" design-mode="on"></div>
