<div class="projectscontainer">
<% @projects.each do |p| %>
<div class="projectholder">
<%= p.title %>
<%= link_to 'Edit', edit_project_path(p) %>
<br />
<%= p.creation_date %>

</div>
<% end %>

</div>
