<h1>Create New Project</h1>

	<button type='button' ng-click="boldText()">Bold</button>
	<button type='button' ng-click="italicizeText()">Italicize</button>
	<button type='button' ng-click="underlineText()">Underline</button>

<div hello contenteditable="true" id="writeHere" ng-model="test" style="width:500px; height:300px;" design-mode="on"></div>
