<h1>Create New Project</h1>

<%= form_for @project do |f| %>
	Title: <%= f.text_field :title %>
	<%= f.text_field :text, :style => 'display: none' %>
	<%= f.submit 'Create' %>

<% end %>

	<button type='button' ng-click="boldText()">Bold</button>
	<button type='button' ng-click="italicizeText()">Italicize</button>

<div hello contenteditable="true" id="writeHere" ng-model="test" style="width:500px; height:300px;" design-mode="on"></div>

{{test}}

<button ng-click="submit_form()">Test</button>