/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

.navbar-nav > li > a {
padding-top: 5px;
padding-bottom: 5px;
}

.navbar {
	min-height: 30px;
}

.dropdown-menu {
	min-width: 100px;
}

.writebar ul {
	list-style-type: none;
	padding: 2px;
	float: right;
	height: 35px;
}

.writebar ul li {
	display: inline;
}
.railssubmit {
	float: left;
}

ul {
	margin: 0;
}

.writebar ul li button {
	width: 30px;
	height: 30px;
	outline: none;
	border-radius: 50%;
	margin-left: 7px;
	background-color: white;
}

.writebar ul li button:hover {
	background-color: #f8f8f8;
}


.bgchange {
	width: 30px;
	height: 30px;
	float: right;
	margin-left: 20px;
	border-radius: 50%;
	margin-top: 2px;
}

.bgoption1 {
	width: 15px;
	height: 30px;
	float: left;
	background-color: #f8e1d0;
	border-radius: 15px 0px 0px 15px;
}

.bgoption2 {
	width: 15px;
	height: 30px;
	float: left;
	background-color: #adcde2;
	border-radius: 0px 15px 15px 0px;
}

#project_title {
	border-radius: 10px;
	outline: none;
	border-style: solid;
	border-color: white;
}

.railssubmit input[type="submit"] {
	border-radius: 10px;
	background-color: white;
}
.railssubmit input[type="submit"]:hover {
	background-color: #f8f8f8;
}

.edit_project {
	margin-top: 2px;
}



