// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projectscontainer {
	position: absolute;
	width: 15%;
	height: calc(100% - 45px);
	float: left;
	overflow-y: scroll;
	border: 1px solid;
	border-color: #f8f8f8;
}

